<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Isild`s - Catering Service{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/prettyPhoto.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/shCore.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/shThemeDefault.css') }}" type="text/css" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('images/icons/ico_title.ico') }}" />
    </head>
    <body>
        {% block body %}
            <div class="body_wrap">
                <div class="header">
                    <div class="header_highlight">
                        <div class="header_bot">
                            <div class="container_12">
                                <div class="topmenu">
                                    <div class="logo">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
          <script type="text/javascript" src="{{ asset('js/custom.js') }}"></script>
          <script type="text/javascript" src="{{ asset('js/general.js') }}"></script>
          <script type="text/javascript" src="{{ asset('js/jquery.backgroundPosition.js') }}"></script>
          <script type="text/javascript" src="{{ asset('js/jquery.easing.1.3.js') }}"></script>
          <script type="text/javascript" src="{{ asset('js/jquery.gmap.min.js') }}"></script>
          <script type="text/javascript" src="{{ asset('js/jquery.jcarousel.min.js') }}"></script>
          <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
          <script type="text/javascript" src="{{ asset('js/jquery.preloadify.min.js') }}"></script>
          <script type="text/javascript" src="{{ asset('js/jquery.prettyPhoto.js') }}"></script>
          <script type="text/javascript" src="{{ asset('js/jquery.tools.min.js') }}"></script>
          <script type="text/javascript" src="{{ asset('js/shBrushPlain.js') }}"></script>
          <script type="text/javascript" src="{{ asset('js/shCore.js') }}"></script>
          <script type="text/javascript" src="{{ asset('js/slides.min.jquery.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
